.container {
    margin: 50px auto;
    padding: 50px;
    max-width: 1200px;
}

.image {

}

.content {
    padding: 0 50px;
}

.product-button {
    color: #bdbdbd;
    font-size: 18px;
}

.product-button:hover {
    color: #3b3b3b;
}

.price {
    font-size: 36px;
    margin: 30px 0;
}

.comments-container {
    margin: 50px 0;
}