.filter {
    display: block;
    padding-left: 20px;
    width: 200px;
}

.price-box {
    display: flex;
}

@media (max-width: 700px) {
    .filter {
        width: 100%;
        flex-grow: 0;
    }
}